    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Student Details</title>
</head>
{% load static %}
<body>
        <div align = "center">
            <table id = "details">
                <th>Name</th>
                <th>Date Of Birth</th>
                <th>Course Enrolled</th>
                <th>Subject Enrolled</th>
                
            </table>
        </div>
    
<script src="{% static '/js/display.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js" integrity="sha512-zJYu9ICC+mWF3+dJ4QC34N9RA0OVS1XtPbnf6oXlvGrLGNB8egsEzu/5wgG90I61hOOKvcywoLzwNmPqGAdATA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
        
</body>
</html>